.DS_Store
# Python
__pycache__/
*.py[cod]
*.class
.env
.venv
venv/
ENV/
.mypy_cache/
.pytest_cache/
*.pyc
*.pyo
# IDE (PyCharm/IntelliJ)
.idea/
*.iml

# Jupyter
.ipynb_checkpoints/

# Data / large files (avoid huge repo)
PyTorch/data/MNIST/
*.parquet
*.pdf
*.docx
*.gz
*-ubyte

